
<div class="container">
  <h1 class="text-center mt-5 text-light">Hero App</h1>
  <div class="row mt-5" >
    <div class="col-3 " >
      <input [(ngModel)]="hero.name" type="text" class="form-control m-1" placeholder="Name" >
    </div>
    <div class="col-3" >
      <input [(ngModel)]="hero.power" type="text" class="form-control m-1" placeholder="Power" >
    </div>
    <div class="col-3" >
      <input [(ngModel)]="hero.image" type="text" class="form-control m-1" placeholder="Url Image" >
    </div>
    <div class="col-3" >
      <button (click)="addCard()" class="btn form-control text-light m-1" > Create </button>
    </div>
  </div>

  <div class="row mt-5" >
    <div class="col-3 mb-5" *ngFor="let item of heros">
      <div class="card p-1">
        <div class="card-image">
        <img class="w-100" [src]="item.image">
        </div>
        <div class="card-body">
          <h2>{{item.name}}</h2>
          <p>{{item.power}}</p>
        </div>
      </div>
    </div>

  </div>
</div>
