<div class="row mt-5" >
  <div class="col-3 " >
    <input [(ngModel)]="hero.name" type="text" class="form-control m-1" placeholder="Name" >
  </div>
  <div class="col-3" >
    <input [(ngModel)]="hero.power" type="text" class="form-control m-1" placeholder="Power" >
  </div>
  <div class="col-3" >
    <input [(ngModel)]="hero.image" type="text" class="form-control m-1" placeholder="Url Image" >
  </div>
  <div class="col-3" >
    <button (click)="update()" class="btn form-control text-light m-1" > update </button>
  </div>
</div>
